In [24]:
import pandas as pd
import numpy as np
df=pd.read_csv("IPL_Histroy_2008-2024.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   match_id                      260920 non-null  int64
 1   inning                        260920 non-null  int64
 2   batting_team                  260920 non-null  object
 3   bowling_team                  260920 non-null  object
 4   over                          260920 non-null  int64
 5   ball                          260920 non-null  int64
 6   batter                        260920 non-null  object
 7   bowler                        260920 non-null  object
 8   non_striker                   260920 non-null  object
 9   batsman_runs                  260920 non-null  int64
 10  extra_runs                    260920 non-null  int64
 11  total_runs                    260920 non-null  int64
 12  extras_type                   260920 non-null  object
 13  is_wicket                     260920 non-null  int64
 14  player_dismissed              260920 non-null  object
 15  dismissal_kind                260920 non-null  object
 16  fielder                       9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [25]:
df.head(5)
df.tail(5)
df.shape

(260920, 17)

In [26]:
df.columns

Index(['match_id ', 'inning ', 'batting_team                ',
       'bowling_team                ', 'over ', 'ball ',
       'batter                  ', 'bowler                  ',
       'non_striker             ', 'batsman_runs ', 'extra_runs ',
       'total_runs ', 'extras_type ', 'is_wicket ', 'player_dismissed        ',
       'dismissal_kind        ', 'fielder'],
      dtype='object')

In [27]:
df.isnull()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260916,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260917,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260918,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260919,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [28]:
df.isnull().sum()

match_id                             0
inning                               0
batting_team                         0
bowling_team                         0
over                                 0
ball                                 0
batter                               0
bowler                               0
non_striker                          0
batsman_runs                         0
extra_runs                           0
total_runs                           0
extras_type                          0
is_wicket                            0
player_dismissed                     0
dismissal_kind                       0
fielder                         251566
dtype: int64

In [29]:
df.iloc[2:5]

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NA,NA,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,,0,NA,NA,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,,0,NA,NA,NaN

In [32]:
df.describe

<bound method NDFrame.describe of         match_id   inning   batting_team                  \
0          335982        1  Kolkata Knight Riders
1          335982        1  Kolkata Knight Riders
2          335982        1  Kolkata Knight Riders
3          335982        1  Kolkata Knight Riders
4          335982        1  Kolkata Knight Riders
...           ...      ...                           ...
260915    1426312        2  Kolkata Knight Riders
260916    1426312        2  Kolkata Knight Riders
260917    1426312        2  Kolkata Knight Riders
260918    1426312        2  Kolkata Knight Riders
260919    1426312        2  Kolkata Knight Riders

        bowling_team                  over   ball   batter                    \
0       Royal Challengers Bangalore       0      1  SC Ganguly
1       Royal Challengers Bangalore       0      2  BB McCullum
2       Royal Challengers Bangalore       0      3  BB McCullum
3       Royal Challengers Bangalore       0      4  BB McCullum
4       Royal Challengers Bangalore       0      5  BB McCullum
...                              ...    ...    ...                       ...
260915  Sunrisers Hyderabad               9      5  SS Iyer
260916  Sunrisers Hyderabad               9      6  VR Iyer
260917  Sunrisers Hyderabad              10      1  VR Iyer
260918  Sunrisers Hyderabad              10      2  SS Iyer
260919  Sunrisers Hyderabad              10      3  VR Iyer

        bowler                    non_striker               batsman_runs   \
0       P Kumar                   BB McCullum                           0
1       P Kumar                   SC Ganguly                            0
2       P Kumar                   SC Ganguly                            0
3       P Kumar                   SC Ganguly                            0
4       P Kumar                   SC Ganguly                            0
...                          ...                       ...            ...
260915  AK Markram                VR Iyer                               1
260916  AK Markram                SS Iyer                               1
260917  Shahbaz Ahmed             SS Iyer                               1
260918  Shahbaz Ahmed             VR Iyer                               1
260919  Shahbaz Ahmed             SS Iyer                               1

        extra_runs   total_runs   extras_type   is_wicket   \
0                 1            1  legbyes                0
1                 0            0                         0
2                 1            1  wides                  0
3                 0            0                         0
4                 0            0                         0
...             ...          ...           ...         ...
260915            0            1                         0
260916            0            1                         0
260917            0            1                         0
260918            0            1                         0
260919            0            1                         0

        player_dismissed          dismissal_kind         fielder
0       NA                        NA                         NaN
1       NA                        NA                         NaN
2       NA                        NA                         NaN
3       NA                        NA                         NaN
4       NA                        NA                         NaN
...                          ...                     ...     ...
260915  NA                        NA                         NaN
260916  NA                        NA                         NaN
260917  NA                        NA                         NaN
260918  NA                        NA                         NaN
260919  NA                        NA                         NaN

[260920 rows x 17 columns]>

In [33]:
uniquevalues=df['batter                  '].unique()
print(uniquevalues)

['SC Ganguly              ' 'BB McCullum             '
 'RT Ponting              ' 'DJ Hussey               '
 'Mohammad Hafeez         ' 'R Dravid                '
 'W Jaffer                ' 'V Kohli                 '
 'JH Kallis               ' 'CL White                '
 'MV Boucher              ' 'B Akhil                 '
 'AA Noffke               ' 'P Kumar                 '
 'Z Khan                  ' 'SB Joshi                '
 'PA Patel                ' 'ML Hayden               '
 'MEK Hussey              ' 'MS Dhoni                '
 'SK Raina                ' 'JDP Oram                '
 'S Badrinath             ' 'K Goel                  '
 'JR Hopes                ' 'KC Sangakkara           '
 'Yuvraj Singh            ' 'SM Katich               '
 'IK Pathan               ' 'T Kohli                 '
 'YK Pathan               ' 'SR Watson               '
 'M Kaif                  ' 'DS Lehmann              '
 'RA Jadeja               ' 'M Rawat                 '
 'D Salunkhe              ' 'SK Warne                '
 'SK Trivedi              ' 'G Gambhir               '
 'V Sehwag                ' 'S Dhawan                '
 'L Ronchi                ' 'ST Jayasuriya           '
 'DJ Thornely             ' 'RV Uthappa              '
 'PR Shah                 ' 'AM Nayar                '
 'SM Pollock              ' 'Harbhajan Singh         '
 'S Chanderpaul           ' 'LRPL Taylor             '
 'AC Gilchrist            ' 'Y Venugopal Rao         '
 'VVS Laxman              ' 'A Symonds               '
 'RG Sharma               ' 'SB Styris               '
 'AS Yadav                ' 'SB Bangar               '
 'WPUJC Vaas              ' 'RP Singh                '
 'WP Saha                 ' 'LR Shukla               '
 'DPMD Jayawardene        ' 'S Sohal                 '
 'B Lee                   ' 'PP Chawla               '
 'WA Mota                 ' 'Kamran Akmal            '
 'Shahid Afridi           ' 'DJ Bravo                '
 'MA Khote                ' 'A Nehra                 '
 'GC Smith                ' 'Pankaj Singh            '
 'RR Sarwan               ' 'S Sreesanth             '
 'VRV Singh               ' 'SS Tiwary               '
 'DS Kulkarni             ' 'R Vinay Kumar           '
 'AB Agarkar              ' 'M Kartik                '
 'I Sharma                ' 'AM Rahane               '
 'Shoaib Malik            ' 'MK Tiwary               '
 'KD Karthik              ' 'R Bhatia                '
 'MF Maharoof             ' 'VY Mahesh               '
 'TM Srivastava           ' 'B Chipli                '
 'DW Steyn                ' 'DB Das                  '
 'MK Pandey               ' 'HH Gibbs                '
 'DNT Zoysa               ' 'D Kalyankrishna         '
 'SE Marsh                ' 'SA Asnodkar             '
 'Sohail Tanvir           ' 'Salman Butt             '
 'BJ Hodge                ' 'Umar Gul                '
 'AB Dinda                ' 'SP Fleming              '
 'S Vidyut                ' 'JA Morkel               '
 'AB de Villiers          ' 'LPC Silva               '
 'DB Ravi Teja            ' 'Misbah-ul-Haq           '
 'YV Takawale             ' 'RR Raje                 '
 'PJ Sangwan              ' 'Mohammad Asif           '
 'GD McGrath              ' 'Joginder Sharma         '
 'MS Gony                 ' 'M Muralitharan          '
 'M Ntini                 ' 'DT Patil                '
 'A Kumble                ' 'S Anirudha              '
 'MM Patel                ' 'CK Kapugedera           '
 'A Chopra                ' 'T Taibu                 '
 'J Arunkumar             ' 'PP Ojha                 '
 'SP Goswami              ' 'SR Tendulkar            '
 'U Kaul                  ' 'TM Dilshan              '
 'A Mishra                ' 'AD Mascarenhas          '
 'NK Patel                ' 'LA Pomersbach           '
 'Iqbal Abdulla           ' 'Younis Khan             '
 'PM Sarvesh Kumar        ' 'DP Vijaykumar           '
 'Shoaib Akhtar           ' 'Abdur Razzak            '
 'H Das                   ' 'DR Smith                '
 'SD Chitnis              ' 'CRD Fernando            '
 'VS Yeligati             ' 'L Balaji                '
 'A Mukund                ' 'RR Powar                '
 'JP Duminy               ' 'A Flintoff              '
 'T Thushara              ' 'JD Ryder                '
 'KP Pietersen            ' 'T Henderson             '
 'Kamran Khan             ' 'RS Bopara               '
 'CH Gayle                ' 'MC Henriques            '
 'R Bishnoi               ' 'FH Edwards              '
 'KV Sharma               ' 'PC Valthaty             '
 'RJ Quiney               ' 'AS Raut                 '
 'Yashpal Singh           ' 'M Manhas                '
 'AA Bilakhia             ' 'AN Ghosh                '
 'BAW Mendis              ' 'DL Vettori              '
 'MN van Wyk              ' 'RE van der Merwe        '
 'TL Suman                ' 'Shoaib Ahmed            '
 'GR Napier               ' 'KP Appanna              '
 'LA Carseldine           ' 'NV Ojha                 '
 'SM Harwood              ' 'M Vijay                 '
 'SB Jakati               ' 'DA Warner               '
 'RJ Harris               ' 'D du Preez              '
 'M Morkel                ' 'AD Mathews              '
 'J Botha                 ' 'C Nanda                 '
 'SL Malinga              ' 'Mashrafe Mortaza        '
 'A Singh                 ' 'GJ Bailey               '
 'AB McDonald             ' 'Y Nagar                 '
 'SS Shaikh               ' 'R Ashwin                '
 'Mohammad Ashraful       ' 'CA Pujara               '
 'OA Shah                 ' 'Anirudh Singh           '
 'Jaskaran Singh          ' 'AP Tare                 '
 'AT Rayudu               ' 'R Sathish               '
 'R McLaren               ' 'AA Jhunjhunwala         '
 'P Dogra                 ' 'A Uniyal                '
 'MS Bisla                ' 'YA Abdulla              '
 'EJG Morgan              ' 'JM Kemp                 '
 'S Tyagi                 ' 'RS Gavaskar             '
 'SE Bond                 ' 'KA Pollard              '
 'S Ladda                 ' 'DP Nannes               '
 'MJ Lumb                 ' 'DR Martyn               '
 'S Narwal                ' 'AB Barath               '
 'Bipul Sharma            ' 'FY Fazal                '
 'AC Voges                ' 'MD Mishra               '
 'UT Yadav                ' 'J Theron                '
 'SJ Srivastava           ' 'R Sharma                '
 'Mandeep Singh           ' 'KM Jadhav               '
 'SW Tait                 ' 'KB Arun Karthik         '
 'KAJ Roach               ' 'PD Collingwood          '
 'CK Langeveldt           ' 'VS Malik                '
 'A Mithun                ' 'AP Dole                 '
 'AN Ahmed                ' 'RS Sodhi                '
 'DE Bollinger            ' 'S Sriram                '
 'B Sumanth               ' 'C Madan                 '
 'AG Paunikar             ' 'MR Marsh                '
 'AJ Finch                ' 'STR Binny               '
 'Harmeet Singh           ' 'IR Jaggi                '
 'DT Christian            ' 'RV Gomez                '
 'MA Agarwal              ' 'AUK Pathan              '
 'UBT Chand               ' 'DJ Jacobs               '
 'Sunny Singh             ' 'NJ Rimmington           '
 'AL Menaria              ' 'WD Parnell              '
 'JJ van der Wath         ' 'R Ninan                 '
 'S Aravind               ' 'MS Wade                 '
 'TD Paine                ' 'SB Wagh                 '
 'AC Thomas               ' 'JEC Franklin            '
 'Shakib Al Hasan         ' 'DH Yagnik               '
 'S Randiv                ' 'BJ Haddin               '
 'NLTC Perera             ' 'NL McCullum             '
 'JE Taylor               ' 'J Syed Mohammad         '
 'RN ten Doeschate        ' 'TR Birt                 '
 'AG Murtaza              ' 'Harpreet Singh          '
 'M Klinger               ' 'AC Blizzard             '
 'I Malhotra              ' 'L Ablish                '
 'CA Ingram               ' 'S Nadeem                '
 'P Parameswaran          ' 'CJ Ferguson             '
 'VR Aaron                ' 'AA Chavan               '
 'ND Doshi                ' 'B Kumar                 '
 'Y Gnaneswara Rao        ' 'S Rana                  '
 'BA Bhatt                ' 'F du Plessis            '
 'RE Levi                 ' 'GJ Maxwell              '
 'SPD Smith               ' 'MN Samuels              '
 'SA Yadav                ' 'KK Cooper               '
 'JP Faulkner             ' 'HV Patel                '
 'DAJ Bracewell           ' 'DJ Harris               '
 'Ankit Sharma            ' 'SP Narine               '
 'GB Hogg                 ' 'RR Bhatkal              '
 'CJ McKay                ' 'N Saini                 '
 'DA Miller               ' 'Azhar Mahmood           '
 'P Negi                  ' 'RJ Peterson             '
 'KMDN Kulasekara         ' 'A Ashish Reddy          '
 'V Pratap Singh          ' 'BB Samantray            '
 'MJ Clarke               ' 'Gurkeerat Singh         '
 'AP Majumdar             ' 'PA Reddy                '
 'K Upadhyay              ' 'P Awana                 '
 'AD Russell              ' 'A Chandila              '
 'CA Lynn                 ' 'Sunny Gupta             '
 'MC Juneja               ' 'KK Nair                 '
 'GH Vihari               ' 'MDKJ Perera             '
 'R Shukla                ' 'B Laughlin              '
 'AS Rajpoot              ' 'M Vohra                 '
 'JD Unadkat              ' 'Mohammed Shami          '
 'BMAJ Mendis             ' 'R Rampaul               '
 'CH Morris               ' 'SV Samson               '
 'SMSM Senanayake         ' 'BJ Rohrer               '
 'KL Rahul                ' 'Q de Kock               '
 'R Dhawan                ' 'MG Johnson              '
 'LJ Wright               ' 'IC Pandey               '
 'CM Gautam               ' 'X Thalaivan Sargunam    '
 'DJG Sammy               ' 'KW Richardson           '
 'MM Sharma               ' 'UA Birla                '
 'Parvez Rasool           ' 'Sandeep Sharma          '
 'S Kaul                  ' 'Sachin Baby             '
 'PV Tambe                ' 'NM Coulter-Nile         '
 'CJ Anderson             ' 'NJ Maddinson            '
 'AR Patel                ' 'JJ Bumrah               '
 'JDS Neesham             ' 'TG Southee              '
 'MA Starc                ' 'BR Dunk                 '
 'RR Rossouw              ' 'Shivam Sharma           '
 'YS Chahal               ' 'LMP Simmons             '
 'VH Zol                  ' 'BCJ Cutting             '
 'Imran Tahir             ' 'BE Hendricks            '
 'S Gopal                 ' 'M de Lange              '
 'R Tewatia               ' 'JO Holder               '
 'Karanveer Singh         ' 'SS Iyer                 '
 'DJ Hooda                ' 'Anureet Singh           '
 'KS Williamson           ' 'SA Abbott               '
 'J Suchith               ' 'RG More                 '
 'HH Pandya               ' 'D Wiese                 '
 'SN Khan                 ' 'MJ McClenaghan          '
 'DJ Muthuswami           ' 'PJ Cummins              '
 'SN Thakur               ' 'JC Buttler              '
 'CR Brathwaite           ' 'MP Stoinis              '
 'Ishan Kishan            ' 'C Munro                 '
 'P Sahu                  ' 'KH Pandya               '
 'AD Nath                 ' 'MJ Guptill              '
 'KJ Abbott               ' 'TM Head                 '
 'M Ashwin                ' 'NS Naik                 '
 'RR Pant                 ' 'SW Billings             '
 'KC Cariappa             ' 'PSP Handscomb           '
 'Swapnil Singh           ' 'J Yadav                 '
 'UT Khawaja              ' 'HM Amla                 '
 'F Behardien             ' 'BB Sran                 '
 'A Zampa                 ' 'N Rana                  '
 'S Kaushik               ' 'ER Dwivedi              '
 'CJ Jordan               ' 'TS Mills                '
 'A Choudhary             ' 'BA Stokes               '
 'JJ Roy                  ' 'Vishnu Vinod            '
 'Basil Thampi            ' 'CR Woakes               '
 'RA Tripathi             ' 'DL Chahar               '
 'V Shankar               ' 'Rashid Khan             '
 'RD Chahar               ' 'LH Ferguson             '
 'C de Grandhomme         ' 'AF Milne                '
 'S Badree                ' 'Mohammad Nabi           '
 'AJ Tye                  ' 'K Rabada                '
 'Kuldeep Yadav           ' 'Washington Sundar       '
 'DM Bravo                ' 'AR Bawne                '
 'SP Jackson              ' 'Ankit Soni              '
 'TA Boult                ' 'E Lewis                 '
 'MA Wood                 ' 'RK Singh                '
 'DJM Short               ' 'K Gowtham               '
 'TK Curran               ' 'M Markande              '
 'B Stanlake              ' 'Mujeeb Ur Rahman        '
 'A Dananjaya             ' 'Shubman Gill            '
 'Shivam Mavi             ' 'Mohammed Siraj          '
 'H Klaasen               ' 'RK Bhui                 '
 'JC Archer               ' 'PP Shaw                 '
 'LE Plunkett             ' 'Mustafizur Rahman       '
 'AD Hales                ' 'MK Lomror               '
 'DR Shorey               ' 'MM Ali                  '
 'M Prasidh Krishna       ' 'P Chopra                '
 'JPR Scantlebury-Searles ' 'Abhishek Sharma         '
 'IS Sodhi                ' 'SO Hetmyer              '
 'S Dube                  ' 'Navdeep Saini           '
 'JM Bairstow             ' 'KMA Paul                '
 'Rasikh Salam            ' 'N Pooran                '
 'P Ray Barman            ' 'SM Curran               '
 'GC Viljoen              ' 'Avesh Khan              '
 'S Lamichhane            ' 'HF Gurney               '
 'SD Lad                  ' 'AS Joseph               '
 'R Parag                 ' 'MJ Santner              '
 'JL Denly                ' 'LS Livingstone          '
 'KK Ahmed                ' 'AJ Turner               '
 'Harpreet Brar           ' 'SE Rutherford           '
 'Y Prithvi Raj           ' 'P Simran Singh          '
 'JL Pattinson            ' 'A Nortje                '
 'T Banton                ' 'D Padikkal              '
 'YBK Jaiswal             ' 'RD Gaikwad              '
 'TU Deshpande            ' 'Abdul Samad             '
 'PK Garg                 ' 'JR Philippe             '
 'Kartik Tyagi            ' 'KL Nagarkoti            '
 'CV Varun                ' 'I Udana                 '
 'Ravi Bishnoi            ' 'Shahbaz Ahmed           '
 'AT Carey                ' 'N Jagadeesan            '
 'T Natarajan             ' 'P Dubey                 '
 'SS Cottrell             ' 'Arshdeep Singh          '
 'DR Sams                 ' 'M Jansen                '
 'RM Patidar              ' 'KA Jamieson             '
 'M Shahrukh Khan         ' 'JA Richardson           '
 'Lalit Yadav             ' 'Virat Singh             '
 'FA Allen                ' 'C Sakariya              '
 'DJ Malan                ' 'KS Bharat               '
 'PWH de Silva            ' 'VR Iyer                 '
 'GD Phillips             ' 'GHS Garton              '
 'AK Markram              ' 'K Yadav                 '
 'T Shamsi                ' 'NT Ellis                '
 'RV Patel                ' 'TL Seifert              '
 'Anmolpreet Singh        ' 'Anuj Rawat              '
 'TH David                ' 'DP Conway               '
 'Tilak Varma             ' 'R Powell                '
 'PBB Rajapaksa           ' 'RA Bawa                 '
 'OF Smith                ' 'A Badoni                '
 'PVD Chameera            ' 'A Manohar               '
 'R Shepherd              ' 'DJ Willey               '
 'D Pretorius             ' 'JM Sharma               '
 'VG Arora                ' 'Mukesh Choudhary        '
 'Umran Malik             ' 'D Brevis                '
 'B Sai Sudharsan         ' 'Ramandeep Singh         '
 'HE van der Dussen       ' 'SS Prabhudessai         '
 'Akash Deep              ' 'JR Hazlewood            '
 'KR Sen                  ' 'Aman Hakim Khan         '
 'HR Shokeen              ' 'Yash Dayal              '
 'DJ Mitchell             ' 'Shashank Singh          '
 'B Indrajith             ' 'Harshit Rana            '
 'Mohsin Khan             ' 'Simarjeet Singh         '
 'M Theekshana            ' 'AS Roy                  '
 'Fazalhaq Farooqi        ' 'K Kartikeya             '
 'RP Meredith             ' 'KS Sharma               '
 'T Stubbs                ' 'R Sanjay Yadav          '
 'A Tomar                 ' 'PN Mankad               '
 'OC McCoy                ' 'Sikandar Raza           '
 'Rahmanullah Gurbaz      ' 'KR Mayers               '
 'Mukesh Kumar            ' 'HC Brook                '
 'AU Rashid               ' 'C Green                 '
 'N Wadhera               ' 'Arshad Khan             '
 'Abishek Porel           ' 'Dhruv Jurel             '
 'MG Bracewell            ' 'MW Short                '
 'Mohit Rathee            ' 'YV Dhull                '
 'Yudhvir Singh           ' 'Atharva Taide           '
 'Liton Das               ' 'PD Salt                 '
 'Vijaykumar Vyshak       ' 'Abdul Basith            '
 'Arjun Tendulkar         ' 'JP Behrendorff          '
 'AJ Hosein               ' 'Naveen-ul-Haq           '
 'Noor Ahmad              ' 'JE Root                 '
 'KM Asif                 ' 'MD Shanaka              '
 'Sanvir Singh            ' 'Vivrant Sharma          '
 'DG Nalkande             ' 'R Ravindra              '
 'SD Hope                 ' 'Sumit Kumar             '
 'Azmatullah Omarzai      ' 'Naman Dhir              '
 'G Coetzee               ' 'SZ Mulani               '
 'Sameer Rizvi            ' 'SH Johnson              '
 'Akash Madhwal           ' 'SB Dubey                '
 'Mayank Dagar            ' 'RJW Topley              '
 'A Raghuvanshi           ' 'Ashutosh Sharma         '
 'Nithish Kumar Reddy     ' 'Saurav Chauhan          '
 'Kumar Kushagra          ' 'BR Sharath              '
 'WG Jacks                ' 'J Fraser-McGurk         '
 'Tanush Kotian           ' 'KA Maharaj              '
 'Arshad Khan (2)         ' 'R Sai Kishore           '
 'L Wood                  ' 'LB Williams             '
 'AA Kulkarni             ' 'MJ Suthar               '
 'RJ Gleeson              ' 'Gulbadin Naib           '
 'D Ferreira              ' 'A Kamboj                '
 'T Kohler-Cadmore        ' 'Shivam Singh            '
 'V Viyaskanth            ']

In [34]:
df.drop_duplicates()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NA,NA,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,,0,NA,NA,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NA,NA,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,,0,NA,NA,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,,0,NA,NA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,,0,NA,NA,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,,0,NA,NA,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,,0,NA,NA,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,,0,NA,NA,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,,0,NA,NA,NaN

In [36]:
df.describe()

,match_id,inning,over,ball,batsman_runs,extra_runs,total_runs,is_wicket
count,2.609200e+05,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000,260920.000000
mean,9.070665e+05,1.483531,9.197677,3.624486,1.265001,0.067806,1.332807,0.049632
std,3.679913e+05,0.502643,5.683484,1.814920,1.639298,0.343265,1.626416,0.217184
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,5.483340e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,9.809670e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000
75%,1.254066e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000
max,1.426312e+06,6.000000,19.000000,11.000000,6.000000,7.000000,7.000000,1.000000

In [37]:
df.columns

Index(['match_id ', 'inning ', 'batting_team                ',
       'bowling_team                ', 'over ', 'ball ',
       'batter                  ', 'bowler                  ',
       'non_striker             ', 'batsman_runs ', 'extra_runs ',
       'total_runs ', 'extras_type ', 'is_wicket ', 'player_dismissed        ',
       'dismissal_kind        ', 'fielder'],
      dtype='object')

In [49]:
df = df.rename(columns={'match_id ': 'match_id','inning ' : 'inning','batting_team                ':'batting_team','bowling_team                ':'bowling_team','over ':'over','ball ':'ball','batter                  ':'batter','bowler                  ':'bowler','non_striker             ':'non_striker','batsman_runs ':'batsman_runs','extra_runs ':'extra_runs','total_runs ':'total_runs','extras_type ':'extras_type','is_wicket ':'is_wicket','player_dismissed        ':'player_dismissed','dismissal_kind        ':'dismissal_kind'})

In [50]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batter', 'bowler', 'non_striker', 'batsman_runs', 'extra_runs',
       'total_runs', 'extras_type', 'is_wicket', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [51]:
df['extra_runs'].mean()

0.06780622413000154

In [52]:
df['extra_runs'].median()
df['extra_runs'].std()

0.3432653464743503

In [53]:
df.isnull()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260916,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260917,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260918,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260919,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [66]:
df['fielder']=df['fielder'].fillna(df['fielder'].mode())

In [63]:
df.isnull()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260916,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260917,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260918,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
260919,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [68]:
In [123]: df.groupby("extras_type", observed=False).size()

extras_type
                246795
byes               673
legbyes           4001
noballs           1069
penalty              2
wides             8380
dtype: int64

In [69]:
df1=df.dropna(how="any")

In [71]:
df1.isnull()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
74,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
106,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
154,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260802,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260811,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260817,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260852,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260861,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False