# **Assignment on Uber dataset**

**Load the dataset**

In [63]:
import pandas as pd
df=pd.read_csv("Uber.csv")

**Display basic info about dataset**

In [48]:
print(df.info)

<bound method DataFrame.info of            START_DATE*         END_DATE* CATEGORY*            START*  \
0       1/1/2016 21:11    1/1/2016 21:17  Business       Fort Pierce
1        1/2/2016 1:25     1/2/2016 1:37  Business       Fort Pierce
2       1/2/2016 20:25    1/2/2016 20:38  Business       Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
...                ...               ...       ...               ...
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha
1155            Totals               NaN       NaN               NaN

                 STOP*   MILES*         PURPOSE*
0          Fort Pierce      5.1   Meal/Entertain
1          Fort Pierce      5.0              NaN
2          Fort Pierce      4.8  Errand/Supplies
3          Fort Pierce      4.7          Meeting
4      West Palm Beach     63.7   Customer Visit
...                ...      ...              ...
1151  Unknown Location      3.9   Temporary Site
1152  Unknown Location     16.2          Meeting
1153           Gampaha      6.4   Temporary Site
1154         Ilukwatta     48.2   Temporary Site
1155               NaN  12204.7              NaN

[1156 rows x 7 columns]>

**Check for missing values**

In [49]:
print(df.isna().sum())

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

**Drop rows with missing values**

In [50]:
# df= df.dropna()
# print(df.isna().sum())

**fill missing values (propose column with unknown value)**

In [51]:
print(df.isna().sum())
df['START_DATE*'].fillna(df['START_DATE*'].mode()[0],inplace=True)
df['END_DATE*'].fillna(df['START_DATE*'].mode()[0],inplace=True)
df['CATEGORY*'].fillna(df['CATEGORY*'].mode()[0],inplace=True)
df['START*'].fillna(df['START*'].mode()[0],inplace=True)
df['STOP*'].fillna(df['STOP*'].mode()[0],inplace=True)
df['MILES*'].fillna(df['MILES*'].mode()[0],inplace=True)
df['PURPOSE*'].fillna(df['PURPOSE*'].mode()[0],inplace=True)
print(df.isna().sum())

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64
START_DATE*    0
END_DATE*      0
CATEGORY*      0
START*         0
STOP*          0
MILES*         0
PURPOSE*       0
dtype: int64

**Check and remove duplicates**

In [52]:
duplicates=df[df.duplicated()]
print(duplicates)

         START_DATE*        END_DATE* CATEGORY*  START* STOP*  MILES* PURPOSE*
492  6/28/2016 23:34  6/28/2016 23:59  Business  Durham  Cary     9.9  Meeting

In [53]:
df.drop_duplicates(keep="first",inplace=True)

duplicates1=df[df.duplicated()]
print(duplicates1)

Empty DataFrame
Columns: [START_DATE*, END_DATE*, CATEGORY*, START*, STOP*, MILES*, PURPOSE*]
Index: []

**Convert START_DATE and END_DATE to datetime**

In [68]:
df['START_DATE*'] = pd.to_datetime(df['START_DATE*'], format='%m/%d/%Y %H:%M',errors='coerce')
print(df['START_DATE*'].dtype)
print(df)

datetime64[ns]
             START_DATE*         END_DATE* CATEGORY*            START*  \
0    2016-01-01 21:11:00    1/1/2016 21:17  Business       Fort Pierce
1    2016-01-02 01:25:00     1/2/2016 1:37  Business       Fort Pierce
2    2016-01-02 20:25:00    1/2/2016 20:38  Business       Fort Pierce
3    2016-01-05 17:31:00    1/5/2016 17:45  Business       Fort Pierce
4    2016-01-06 14:42:00    1/6/2016 15:49  Business       Fort Pierce
...                  ...               ...       ...               ...
1151 2016-12-31 13:24:00  12/31/2016 13:42  Business           Kar?chi
1152 2016-12-31 15:03:00  12/31/2016 15:38  Business  Unknown Location
1153 2016-12-31 21:32:00  12/31/2016 21:50  Business        Katunayake
1154 2016-12-31 22:08:00  12/31/2016 23:51  Business           Gampaha
1155                 NaT               NaN       NaN               NaN

                 STOP*   MILES*         PURPOSE*
0          Fort Pierce      5.1   Meal/Entertain
1          Fort Pierce      5.0              NaN
2          Fort Pierce      4.8  Errand/Supplies
3          Fort Pierce      4.7          Meeting
4      West Palm Beach     63.7   Customer Visit
...                ...      ...              ...
1151  Unknown Location      3.9   Temporary Site
1152  Unknown Location     16.2          Meeting
1153           Gampaha      6.4   Temporary Site
1154         Ilukwatta     48.2   Temporary Site
1155               NaN  12204.7              NaN

[1156 rows x 7 columns]

In [57]:
df['END_DATE*'] = pd.to_datetime(df['END_DATE*'], format="%d/%m/%y %H:%M",errors='coerce')
print(df['END_DATE*'].dtype)

datetime64[ns]

**Total number of rides per category:**

In [70]:
print(df['CATEGORY*'].value_counts())
print(df)

CATEGORY*
Business    1078
Personal      77
Name: count, dtype: int64
             START_DATE*         END_DATE* CATEGORY*            START*  \
0    2016-01-01 21:11:00    1/1/2016 21:17  Business       Fort Pierce
1    2016-01-02 01:25:00     1/2/2016 1:37  Business       Fort Pierce
2    2016-01-02 20:25:00    1/2/2016 20:38  Business       Fort Pierce
3    2016-01-05 17:31:00    1/5/2016 17:45  Business       Fort Pierce
4    2016-01-06 14:42:00    1/6/2016 15:49  Business       Fort Pierce
...                  ...               ...       ...               ...
1151 2016-12-31 13:24:00  12/31/2016 13:42  Business           Kar?chi
1152 2016-12-31 15:03:00  12/31/2016 15:38  Business  Unknown Location
1153 2016-12-31 21:32:00  12/31/2016 21:50  Business        Katunayake
1154 2016-12-31 22:08:00  12/31/2016 23:51  Business           Gampaha
1155                 NaT               NaN       NaN               NaN

                 STOP*   MILES*         PURPOSE*
0          Fort Pierce      5.1   Meal/Entertain
1          Fort Pierce      5.0              NaN
2          Fort Pierce      4.8  Errand/Supplies
3          Fort Pierce      4.7          Meeting
4      West Palm Beach     63.7   Customer Visit
...                ...      ...              ...
1151  Unknown Location      3.9   Temporary Site
1152  Unknown Location     16.2          Meeting
1153           Gampaha      6.4   Temporary Site
1154         Ilukwatta     48.2   Temporary Site
1155               NaN  12204.7              NaN

[1156 rows x 7 columns]

**Total miles traveled for each purpose:**

In [71]:
print(df.groupby('START*')['MILES*'].agg('sum'))

START*
Agnew               11.1
Almond              15.2
Apex                90.8
Arabi               17.0
Arlington            4.9
                   ...
West University      4.4
Weston               8.0
Westpark Place      37.1
Whitebridge        273.4
Winston Salem      133.6
Name: MILES*, Length: 177, dtype: float64

**Average distance for business vs. personal rides:**

In [74]:
print(df.groupby('CATEGORY*')["MILES*"].agg('mean'))

CATEGORY*
Business    10.655844
Personal     9.320779
Name: MILES*, dtype: float64

**Add a column for cost estimation (assuming $2 per mile):**

In [75]:
df['cost_estimation']=df['MILES*']*2
print(df)

             START_DATE*         END_DATE* CATEGORY*            START*  \
0    2016-01-01 21:11:00    1/1/2016 21:17  Business       Fort Pierce
1    2016-01-02 01:25:00     1/2/2016 1:37  Business       Fort Pierce
2    2016-01-02 20:25:00    1/2/2016 20:38  Business       Fort Pierce
3    2016-01-05 17:31:00    1/5/2016 17:45  Business       Fort Pierce
4    2016-01-06 14:42:00    1/6/2016 15:49  Business       Fort Pierce
...                  ...               ...       ...               ...
1151 2016-12-31 13:24:00  12/31/2016 13:42  Business           Kar?chi
1152 2016-12-31 15:03:00  12/31/2016 15:38  Business  Unknown Location
1153 2016-12-31 21:32:00  12/31/2016 21:50  Business        Katunayake
1154 2016-12-31 22:08:00  12/31/2016 23:51  Business           Gampaha
1155                 NaT               NaN       NaN               NaN

                 STOP*   MILES*         PURPOSE*  cost_estimation
0          Fort Pierce      5.1   Meal/Entertain             10.2
1          Fort Pierce      5.0              NaN             10.0
2          Fort Pierce      4.8  Errand/Supplies              9.6
3          Fort Pierce      4.7          Meeting              9.4
4      West Palm Beach     63.7   Customer Visit            127.4
...                ...      ...              ...              ...
1151  Unknown Location      3.9   Temporary Site              7.8
1152  Unknown Location     16.2          Meeting             32.4
1153           Gampaha      6.4   Temporary Site             12.8
1154         Ilukwatta     48.2   Temporary Site             96.4
1155               NaN  12204.7              NaN          24409.4

[1156 rows x 8 columns]

**Filter rides longer than 50 miles:**

In [76]:
df_rides_50=df[df["MILES*"]>50]
print(df_rides_50)

             START_DATE*         END_DATE* CATEGORY*            START*  \
4    2016-01-06 14:42:00    1/6/2016 15:49  Business       Fort Pierce
232  2016-03-17 12:52:00   3/17/2016 15:11  Business            Austin
251  2016-03-19 19:33:00   3/19/2016 20:39  Business         Galveston
268  2016-03-25 13:24:00   3/25/2016 16:22  Business              Cary
269  2016-03-25 16:52:00   3/25/2016 22:22  Business             Latta
270  2016-03-25 22:54:00    3/26/2016 1:39  Business      Jacksonville
295  2016-04-02 12:21:00    4/2/2016 14:47  Business         Kissimmee
296  2016-04-02 16:57:00    4/2/2016 18:09  Business     Daytona Beach
297  2016-04-02 19:38:00    4/2/2016 22:36  Business      Jacksonville
298  2016-04-02 23:11:00     4/3/2016 1:34  Business         Ridgeland
299  2016-04-03 02:00:00     4/3/2016 4:16  Business          Florence
546  2016-07-14 16:39:00   7/14/2016 20:05  Business       Morrisville
559  2016-07-17 12:20:00   7/17/2016 15:25  Personal             Boone
707  2016-08-24 13:01:00   8/24/2016 15:25  Business  Unknown Location
710  2016-08-25 17:19:00   8/25/2016 19:20  Business  Unknown Location
726  2016-08-27 14:01:00   8/27/2016 15:44  Business            Lahore
727  2016-08-27 16:15:00   8/27/2016 19:13  Business  Unknown Location
751  2016-09-06 17:49:00    9/6/2016 17:49  Business  Unknown Location
776  2016-09-27 21:01:00    9/28/2016 2:37  Business  Unknown Location
788  2016-10-06 17:23:00   10/6/2016 17:40  Business        R?walpindi
869  2016-10-28 15:53:00  10/28/2016 17:59  Business              Cary
870  2016-10-28 18:13:00  10/28/2016 20:07  Business     Winston Salem
871  2016-10-28 20:13:00  10/28/2016 22:00  Business         Asheville
873  2016-10-29 17:13:00  10/29/2016 19:19  Business        Hayesville
880  2016-10-30 13:24:00  10/30/2016 14:37  Business       Bryson City
881  2016-10-30 15:22:00  10/30/2016 18:23  Business         Asheville
1088 2016-12-21 20:56:00  12/21/2016 23:42  Business        Rawalpindi
1155                 NaT               NaN       NaN               NaN

                 STOP*   MILES*        PURPOSE*  cost_estimation
4      West Palm Beach     63.7  Customer Visit            127.4
232               Katy    136.0  Customer Visit            272.0
251            Houston     57.0  Customer Visit            114.0
268              Latta    144.0  Customer Visit            288.0
269       Jacksonville    310.3  Customer Visit            620.6
270          Kissimmee    201.0         Meeting            402.0
295      Daytona Beach     77.3  Customer Visit            154.6
296       Jacksonville     80.5  Customer Visit            161.0
297          Ridgeland    174.2  Customer Visit            348.4
298           Florence    144.0         Meeting            288.0
299               Cary    159.3         Meeting            318.6
546         Banner Elk    195.3             NaN            390.6
559               Cary    180.2         Commute            360.4
707   Unknown Location     96.2             NaN            192.4
710   Unknown Location     50.4             NaN            100.8
726   Unknown Location     86.6             NaN            173.2
727   Unknown Location    156.9             NaN            313.8
751   Unknown Location     69.1             NaN            138.2
776   Unknown Location    195.6             NaN            391.2
788   Unknown Location    112.6             NaN            225.2
869      Winston Salem    107.0         Meeting            214.0
870          Asheville    133.6         Meeting            267.2
871             Topton     91.8         Meeting            183.6
873             Topton     75.7             NaN            151.4
880          Asheville     68.4             NaN            136.8
881             Mebane    195.9             NaN            391.8
1088  Unknown Location    103.0         Meeting            206.0
1155               NaN  12204.7             NaN          24409.4

**Filter by specific purpose (e.g., meetings):**

In [78]:
df_purpose = df[df['PURPOSE*'].isin(['Customer Visit', 'Meeting'])]
print(df_purpose)

             START_DATE*         END_DATE* CATEGORY*            START*  \
3    2016-01-05 17:31:00    1/5/2016 17:45  Business       Fort Pierce
4    2016-01-06 14:42:00    1/6/2016 15:49  Business       Fort Pierce
6    2016-01-06 17:30:00    1/6/2016 17:35  Business   West Palm Beach
7    2016-01-07 13:27:00    1/7/2016 13:33  Business              Cary
8    2016-01-10 08:05:00    1/10/2016 8:25  Business              Cary
...                  ...               ...       ...               ...
1144 2016-12-29 23:14:00  12/29/2016 23:47  Business  Unknown Location
1148 2016-12-30 16:45:00  12/30/2016 17:08  Business           Kar?chi
1149 2016-12-30 23:06:00  12/30/2016 23:10  Business           Kar?chi
1150 2016-12-31 01:07:00   12/31/2016 1:14  Business           Kar?chi
1152 2016-12-31 15:03:00  12/31/2016 15:38  Business  Unknown Location

                 STOP*  MILES*        PURPOSE*  cost_estimation
3          Fort Pierce     4.7         Meeting              9.4
4      West Palm Beach    63.7  Customer Visit            127.4
6           Palm Beach     7.1         Meeting             14.2
7                 Cary     0.8         Meeting              1.6
8          Morrisville     8.3         Meeting             16.6
...                ...     ...             ...              ...
1144           Kar?chi    12.9         Meeting             25.8
1148           Kar?chi     4.6         Meeting              9.2
1149           Kar?chi     0.8  Customer Visit              1.6
1150           Kar?chi     0.7         Meeting              1.4
1152  Unknown Location    16.2         Meeting             32.4

[288 rows x 8 columns]

**What is the total number of business trips versus personal trips?**

In [79]:
print(df['CATEGORY*'].value_counts())

CATEGORY*
Business    1078
Personal      77
Name: count, dtype: int64

**What percentage of trips are business versus personal?**

In [82]:
num_business_trips = df[df['CATEGORY*'] == 'Business'].shape[0] 

num_personal_trips = df[df['CATEGORY*'] == 'Personal'].shape[0]

In [83]:
[print("the percenatge fo businees vs personal trips is:",(num_business_trips/num_personal_trips))]

the percenatge fo businees vs personal trips is: 14.0

[None]