# **Assignment on Uber dataset**

**Load the dataset**

In [1]:
import pandas as pd
df=pd.read_csv(
    "Uber.csv",
  sep=",")

**Display basic info about dataset**

In [2]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB

**Check for missing values**

In [3]:
df.isna().sum()

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

**Drop rows with missing values**

In [37]:
# df= df.dropna()
# print(df.isna().sum())

**fill missing values (propose column with unknown value)**

In [29]:
print(df.isna().sum())
df['START_DATE*'].fillna(df['START_DATE*'].mode()[0],inplace=True)
df['END_DATE*'].fillna(df['START_DATE*'].mode()[0],inplace=True)
df['CATEGORY*'].fillna(df['CATEGORY*'].mode()[0],inplace=True)
df['START*'].fillna(df['START*'].mode()[0],inplace=True)
df['STOP*'].fillna(df['STOP*'].mode()[0],inplace=True)
df['MILES*'].fillna(df['MILES*'].mode()[0],inplace=True)
df['PURPOSE*'].fillna(df['PURPOSE*'].mode()[0],inplace=True)
print(df.isna().sum())

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64
START_DATE*    0
END_DATE*      0
CATEGORY*      0
START*         0
STOP*          0
MILES*         0
PURPOSE*       0
dtype: int64

**Check and remove duplicates**

In [38]:
duplicates=df[df.duplicated()]
print(duplicates)

            START_DATE*           END_DATE* CATEGORY*  START* STOP*  MILES*  \
492 2016-06-28 23:34:00 2016-06-28 23:59:00  Business  Durham  Cary     9.9

    PURPOSE*
492  Meeting

**Convert START_DATE and END_DATE to datetime**

In [4]:
df['END_DATE*']=pd.to_datetime(df['END_DATE*'])

In [31]:
df['START_DATE*'] = pd.to_datetime(df['START_DATE*'], format='%m/%d/%Y %H:%M',errors='coerce')
print(df['START_DATE*'].dtype)
print(df)

datetime64[ns]
             START_DATE*           END_DATE* CATEGORY*            START*  \
0    2016-01-01 21:11:00 2016-01-01 21:17:00  Business       Fort Pierce
1    2016-01-02 01:25:00 2016-01-02 01:37:00  Business       Fort Pierce
2    2016-01-02 20:25:00 2016-01-02 20:38:00  Business       Fort Pierce
3    2016-01-05 17:31:00 2016-01-05 17:45:00  Business       Fort Pierce
4    2016-01-06 14:42:00 2016-01-06 15:49:00  Business       Fort Pierce
...                  ...                 ...       ...               ...
1151 2016-12-31 13:24:00 2016-12-31 13:42:00  Business           Kar?chi
1152 2016-12-31 15:03:00 2016-12-31 15:38:00  Business  Unknown Location
1153 2016-12-31 21:32:00 2016-12-31 21:50:00  Business        Katunayake
1154 2016-12-31 22:08:00 2016-12-31 23:51:00  Business           Gampaha
1155                 NaT 2016-06-28 23:34:00  Business              Cary

                 STOP*   MILES*         PURPOSE*
0          Fort Pierce      5.1   Meal/Entertain
1          Fort Pierce      5.0          Meeting
2          Fort Pierce      4.8  Errand/Supplies
3          Fort Pierce      4.7          Meeting
4      West Palm Beach     63.7   Customer Visit
...                ...      ...              ...
1151  Unknown Location      3.9   Temporary Site
1152  Unknown Location     16.2          Meeting
1153           Gampaha      6.4   Temporary Site
1154         Ilukwatta     48.2   Temporary Site
1155              Cary  12204.7          Meeting

[1156 rows x 7 columns]

**Total number of rides per category:**

In [28]:
df['PURPOSE*'].value_counts()

PURPOSE*
Meeting            187
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Charity ($)          1
Commute              1
Name: count, dtype: int64

**Total miles traveled for each purpose:**

In [15]:
grouped=df.groupby('PURPOSE*')['MILES*'].agg(['sum'])
print(grouped)

                    sum
PURPOSE*
Airport/Travel     16.5
Between Offices   197.0
Charity ($)        15.1
Commute           180.2
Customer Visit   2089.5
Errand/Supplies   508.0
Meal/Entertain    911.7
Meeting          2851.3
Moving             18.2
Temporary Site    523.7

**Average distance for business vs. personal rides:**

In [30]:
grouped_business=df.groupby('CATEGORY*')['MILES*'].agg(['mean'])
print(grouped_business)

                mean
CATEGORY*
Business   21.957090
Personal    9.320779

**Add a column for cost estimation (assuming $2 per mile):**

In [18]:
total=df['MILES*'].sum()
print(total*2)

48818.8

**Filter rides longer than 50 miles:**

In [24]:
filtered=df['MILES*']>50
print(df[filtered])

           START_DATE*           END_DATE* CATEGORY*            START*  \
4       1/6/2016 14:42 2016-01-06 15:49:00  Business       Fort Pierce
232    3/17/2016 12:52 2016-03-17 15:11:00  Business            Austin
251    3/19/2016 19:33 2016-03-19 20:39:00  Business         Galveston
268    3/25/2016 13:24 2016-03-25 16:22:00  Business              Cary
269    3/25/2016 16:52 2016-03-25 22:22:00  Business             Latta
270    3/25/2016 22:54 2016-03-26 01:39:00  Business      Jacksonville
295     4/2/2016 12:21 2016-04-02 14:47:00  Business         Kissimmee
296     4/2/2016 16:57 2016-04-02 18:09:00  Business     Daytona Beach
297     4/2/2016 19:38 2016-04-02 22:36:00  Business      Jacksonville
298     4/2/2016 23:11 2016-04-03 01:34:00  Business         Ridgeland
299      4/3/2016 2:00 2016-04-03 04:16:00  Business          Florence
546    7/14/2016 16:39 2016-07-14 20:05:00  Business       Morrisville
559    7/17/2016 12:20 2016-07-17 15:25:00  Personal             Boone
707    8/24/2016 13:01 2016-08-24 15:25:00  Business  Unknown Location
710    8/25/2016 17:19 2016-08-25 19:20:00  Business  Unknown Location
726    8/27/2016 14:01 2016-08-27 15:44:00  Business            Lahore
727    8/27/2016 16:15 2016-08-27 19:13:00  Business  Unknown Location
751     9/6/2016 17:49 2016-09-06 17:49:00  Business  Unknown Location
776    9/27/2016 21:01 2016-09-28 02:37:00  Business  Unknown Location
788    10/6/2016 17:23 2016-10-06 17:40:00  Business        R?walpindi
869   10/28/2016 15:53 2016-10-28 17:59:00  Business              Cary
870   10/28/2016 18:13 2016-10-28 20:07:00  Business     Winston Salem
871   10/28/2016 20:13 2016-10-28 22:00:00  Business         Asheville
873   10/29/2016 17:13 2016-10-29 19:19:00  Business        Hayesville
880   10/30/2016 13:24 2016-10-30 14:37:00  Business       Bryson City
881   10/30/2016 15:22 2016-10-30 18:23:00  Business         Asheville
1088  12/21/2016 20:56 2016-12-21 23:42:00  Business        Rawalpindi
1155            Totals                 NaT       NaN               NaN

                 STOP*   MILES*        PURPOSE*
4      West Palm Beach     63.7  Customer Visit
232               Katy    136.0  Customer Visit
251            Houston     57.0  Customer Visit
268              Latta    144.0  Customer Visit
269       Jacksonville    310.3  Customer Visit
270          Kissimmee    201.0         Meeting
295      Daytona Beach     77.3  Customer Visit
296       Jacksonville     80.5  Customer Visit
297          Ridgeland    174.2  Customer Visit
298           Florence    144.0         Meeting
299               Cary    159.3         Meeting
546         Banner Elk    195.3             NaN
559               Cary    180.2         Commute
707   Unknown Location     96.2             NaN
710   Unknown Location     50.4             NaN
726   Unknown Location     86.6             NaN
727   Unknown Location    156.9             NaN
751   Unknown Location     69.1             NaN
776   Unknown Location    195.6             NaN
788   Unknown Location    112.6             NaN
869      Winston Salem    107.0         Meeting
870          Asheville    133.6         Meeting
871             Topton     91.8         Meeting
873             Topton     75.7             NaN
880          Asheville     68.4             NaN
881             Mebane    195.9             NaN
1088  Unknown Location    103.0         Meeting
1155               NaN  12204.7             NaN

**Filter by specific purpose (e.g., meetings):**

In [34]:
df_purpose = df[df['PURPOSE*'].isin([ 'Meeting'])]
print(df_purpose)

             START_DATE*           END_DATE* CATEGORY*            START*  \
1    2016-01-02 01:25:00 2016-01-02 01:37:00  Business       Fort Pierce
3    2016-01-05 17:31:00 2016-01-05 17:45:00  Business       Fort Pierce
6    2016-01-06 17:30:00 2016-01-06 17:35:00  Business   West Palm Beach
7    2016-01-07 13:27:00 2016-01-07 13:33:00  Business              Cary
8    2016-01-10 08:05:00 2016-01-10 08:25:00  Business              Cary
...                  ...                 ...       ...               ...
1144 2016-12-29 23:14:00 2016-12-29 23:47:00  Business  Unknown Location
1148 2016-12-30 16:45:00 2016-12-30 17:08:00  Business           Kar?chi
1150 2016-12-31 01:07:00 2016-12-31 01:14:00  Business           Kar?chi
1152 2016-12-31 15:03:00 2016-12-31 15:38:00  Business  Unknown Location
1155                 NaT 2016-06-28 23:34:00  Business              Cary

                 STOP*   MILES* PURPOSE*
1          Fort Pierce      5.0  Meeting
3          Fort Pierce      4.7  Meeting
6           Palm Beach      7.1  Meeting
7                 Cary      0.8  Meeting
8          Morrisville      8.3  Meeting
...                ...      ...      ...
1144           Kar?chi     12.9  Meeting
1148           Kar?chi      4.6  Meeting
1150           Kar?chi      0.7  Meeting
1152  Unknown Location     16.2  Meeting
1155              Cary  12204.7  Meeting

[690 rows x 7 columns]

**What is the total number of business trips versus personal trips?**

In [32]:
print(df['CATEGORY*'].value_counts())

CATEGORY*
Business    1079
Personal      77
Name: count, dtype: int64

**What percentage of trips are business versus personal?**

In [36]:

category_counts = df['CATEGORY*'].value_counts()


total_trips = category_counts.sum()
business_percentage = (category_counts['Business'] / total_trips) * 100
personal_percentage = (category_counts['Personal'] / total_trips) * 100


print(business_percentage)
print(personal_percentage)

93.33910034602077
6.660899653979238